<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<title>예약페이지</title>
</head>
<body>
	<div>
	    <a href="/">홈</a>
	    <div sec:authorize="!isAuthenticated()"><!--세션을 이렇게 model로 안넘겨도 그냥 바로 꺼내쓸수 있다 20210515 편리하다-->
	        예약하시려면 로그인 부탁드립니다
	        <br>
	        <a href="/joinForm">회원가입</a>
	        <a href="/loginForm">로그인</a>
	    </div>
	        <div sec:authorize="isAuthenticated()">
	         <!--   <div sec:authentication="name" ></div>  -->
	            <a href="/user">마이페이지</a>
	            <a href="/logout">로그아웃</a>
	            <a href="/showreservationpage">예약내역</a>
	        </div>
    	<form>
	        photo<input type="radio" name="list" id="btype" value="photo" >
	        spa<input type="radio" name="list"  id="btype" value="spa">
	        swim<input type="radio" name="list"  id="btype" value="swim">
	        
	       <input type="hidden" id="username" th:value="${user.getUsername}"/>
	       <input type="hidden" id="name" th:value="${user.getName}" />
	       <input type="hidden" id="phone" th:value="${user.getUserTel}"/>

	        <div class="form-group">
	            <label for="text">bookingDate</label>
	            <input type="text" class="form-control"  id="bookingDate" readonly="readonly">
	        </div>
	        
		</form>
		
		<button id="btn-save" class="btn btn-primary">예약하기</button>
    </div>
<script th:inline="javascript">

$.datepicker.setDefaults({
    dateFormat: 'yy-m-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    changeMonth: true,
    changeYear: true,
    minDate: 0,
    yearSuffix: '년'
    
});
 
var disabledDays = /*[[${disabledDayList}]]*/[];



function disableAllTheseDays(date) {

    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();

    for (i = 0; i < disabledDays.length; i++) {

        if($.inArray(y + '-' +(m+1) + '-' + d,disabledDays) != -1) {

            return [false];

        }

    }

    return [true];

}

 
 jQuery(function($) {
    $( "#bookingDate" ).datepicker({
		beforeShowDay: disableAllTheseDays
	});
});

</script>
<script src="/js/booking.js"></script>

</body>
</html>